* {
    font-family: 'Inter';
}

.form_Par {
    display: flex;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_Par p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.campos {
    width: 100%;
}

.form_dados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form_bloco {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.form_group {
    position: relative;
    margin-bottom: 20px;
    width: 48%; /* Two columns layout */
}

@media (max-width: 800px) {
    .form_dados {
        flex-direction: column;
    }
    .form_bloco {
        display: block;
    }
    
    .form_group {
        width: 100%; /* Make each field take up full width on smaller screens */
    }
}

.form_input {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-right: 20px;
    width: 100%;
}

.form_input:focus {
    outline: none;
    border-bottom: 2px solid #000;
}

.form_label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
    font-size: 16px;
    font-style: italic;
    pointer-events: none;
    transition: all 0.2s ease;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label {
    top: -20px;
    left: 10px;
    font-size: 12px;
    color: #555;
    font-style: normal;
}
